
.Tom{
    height: 500px;
    background-image:url("Group\ 36.png") ; 
    background-color: #F9CAC2;
    background-repeat: no-repeat;
    background-size: 1000px 800px;
    padding: 20px;
    background-position: center;
}
.indo{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Aayu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.built{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Guilt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.German{
    padding: 20px;
    background-image:url("planet-earth\ 1.png");
    text-align: right;
    background-color: #EAFAFA;
    background-repeat: no-repeat;
    background-size: 1000px 800px;
    background-position: center;
}


.Suppo{
    text-align: center;
    background-color: #FBFFD4;
}
.Topper{
    background-color: #F9CAC2;
}
.black{
    background-color: black;
    color:white;
}
.blue{
    text-align: center;
}
.green{
    text-align: center;
}
h2{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    border-style: hidden;
}
.Maya{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.dash{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.W{
padding-left: 30px;
    margin:30px;
display:flex;
flex-direction: row;
justify-content:space-between;
}
.X{
    margin:30px;
    display:flex;
flex-direction: row;
justify-content:  space-between;

}
.Y{margin:30px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;

}
.A{display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.B{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.C{
    display:flex;
    flex-direction: row;
    justify-content: end;
}
.E{

    display: flex;
    flex-wrap: wrap;
}
.D{
    padding-left: 20px;
    margin-left:65px ;
    margin-right: 65px;
}
.G{
    margin-left:65px ;
    margin-right: 65px;
}
.H{
    padding-right: 20px;
    margin-left:65px ;
    margin-right: 65px;
}
.Mayank{
    margin-left:250px;
    display:flex;
    flex-direction: row;
}
.cat{
    padding-left: 200px;
}
.Mom{
    color:white;
}
