
div.Tom{
    background-image:url("Group\ 36.png") ; 
    background-color: #F9CAC2;
    background-repeat: no-repeat;
}
div.indo{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.built{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.Guilt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.German{
    background-image:url("planet-earth\ 1.png");
    text-align: right;
    background-color: #EAFAFA;
    background-repeat: no-repeat;
}


div.Suppo{
    text-align: center;
    background-color: #FBFFD4;
}
div.Topper{
    background-color: #F9CAC2;
}
.black{
    background-color: black;
    color:white;
}
.blue{
    text-align: center;
}
.green{
    text-align: center;
}
h2{
    display: flex;
    flex-direction: row;
    justify-content: right;
}